<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="2" preserve-order="true">
    <groups>
        <run>
            <!--<include name="sanity"/>
            <include name="regression"/>-->
            <include name="master"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
        <listener class-name="utilities.Transformer"/>
    </listeners>
    <test name="AllTestCase">
        <classes>
            <class name="testCases.TC_01_AccountReg"/>
            <class name="testCases.TC_02_LoginTest"/>
           </classes>
    </test>
</suite>